/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    margin: 0;
}

/* Header */
header {
    background: linear-gradient(90deg, #3b668a, #6bb2db);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section Cards */
.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background: linear-gradient(90deg, #3b668a, #6bb2db);
    font-size: 1.25rem;
    font-weight: 500;
}

.card-body {
    padding: 2rem;
    background: #ffffff;
    border: 1px solid #e3e6f0;
}

/* Buttons */
.btn-gradient-primary {
    background: linear-gradient(90deg, #3b668a, #6bb2db);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-gradient-primary:hover {
    background: linear-gradient(90deg, #6bb2db, #3b668a);
    transform: scale(1.05);
}

/* Image Preview */
#image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

#image-preview img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background: #333;
    color: #aaa;
    font-size: 0.875rem;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

/* Bouton de déconnexion */
.btn-disconnect {
    background-color: #dc3545; /* Rouge */
    color: white;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 0.875rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.btn-disconnect:hover {
    background-color: #b02a37; /* Rouge plus foncé au survol */
    transform: scale(1.1);
    text-decoration: none;
}

/* Header adjustments */
header {
    background: linear-gradient(90deg, #3b668a, #6bb2db);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-right: 80px; /* Pour laisser de la place au bouton */
    position: relative;
}

h1 {
    margin: 0;
    font-size: 1.75rem;
}
